html {
  background-color: #e3e3e3;
  text-align:center;
  font-family:sans-serif;
}

ul {
  text-align:left;
}
#wrapper a {
  text-decoration:none;
  font-style:italic;
  font-weight:200;
}

#wrapper2 a {
  text-decoration:none;
}
#wrapper3 {
  text-align:left;
}

#wrapper4 {
  text-align:left;
}